version: "3.8"

services:
  # Service 1: Database
  mongo-db:
    build: ./database
    container_name: my-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  # Service 2: Backend API
  backend:
    build: ./backend
    container_name: my-backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo-db
    networks:
      - app-network

  # Service 3: Frontend UI
  frontend:
    build: ./frontend
    container_name: my-frontend
    ports:
      - "8080:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
